body {
    background:rgb(255, 255, 255);
}

#delete-Button {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background:rgb(255, 31, 31);
    font-size: 25px;
    font-family: sans-serif;
    padding: 10px;
    border: none;
    border-radius: 15px;
    border: 1px solid black;
}